<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin Panel</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body{
    background:linear-gradient(135deg,#020617,#0f172a);
    color:white;
    min-height:100vh;
}
.card{
    background:#020617;
    padding:30px;
    border-radius:18px;
    box-shadow:0 0 40px rgba(56,189,248,0.7);
}
h2{
    color:#38bdf8;
    font-weight:700;
}
.table{
    color:white;
}
th{
    color:#7dd3fc;
}
</style>
</head>

<body>

<div class="container mt-5">

<div class="d-flex justify-content-between mb-4">
<h2>👑 Admin Panel</h2>
<a href="/dashboard" class="btn btn-outline-info">⬅ Back</a>
</div>

<div class="card">

<table class="table table-dark table-bordered text-center">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Role</th>
</tr>

{% for u in users %}
<tr>
<td>{{u.id}}</td>
<td>{{u.name}}</td>
<td>{{u.email}}</td>
<td>{{u.role}}</td>
</tr>
{% endfor %}

</table>

</div>

</div>

</body>
</html>